html, body {
    margin: 0;
    height: 100%;
}

.background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #dcdcdc;
    height: 100%;
}

.transparent {
    height: 100%;
    padding-top: 10%;
    padding-bottom: 1.5rem;
    background: rgba(0, 0, 0, 0.91);
}

#bgRight {
    position: fixed;
    top: 0;
    right: 50%;
    z-index: -1;
    height: 100%;
}

#bgLeft {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
}

/* Text */
h1 {
}

h2 {
}

h3 {
}

a {
}

a:hover {
}

/* Buttons
.btn {
    background-color: #256B51;
    border-color: #256B51;
    color: #ffffff;
}

.btn:hover {
    border-color: #2E8665;
}

.btn:active {
    border-color: #2E8665;
    box-shadow: none;
}*/

#playButton {
    width: 100%;
}

#pauseButton {
    width: 100%;
}

/* Images */
.albumCoverSearch {
    height: 40px;
}

.container {
    /*background: #5A7D7C;*/
}

/* Customize container */
@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

.container-narrow > hr {
    margin: 2rem 0;
}
